tensorflow==2.21.0
transformers==5.9.0
torch==2.12.0
sentence-transformers==5.5.1
scikit-learn==1.8.0
nltk==3.9.4
selenium==4.44.0
beautifulsoup4==4.14.3
huggingface_hub==1.17.0
requests==2.33.1
python-dotenv==1.2.2
typer==0.25.1
rich==14.3.3
joblib==1.5.3
tqdm==4.67.3
webdriver-manager==4.1.1